/* feed.css */

.post-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 4px;
  }

.post-list {
    list-style: none;
  }
  
  .post-user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .user-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
  }
  
  .post-username {
    font-weight: bold;
  }
  
  .post-name {
    color: #777777;
  }
  
  .post-timestamp {
    color: #777777;
  }
  
  .post-content {
    margin-bottom: 10px;
  }
  
  .post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .post-actions {
    display: flex;
  }
  
  .post-actions button {
    margin-right: 10px;
  }
  
  .post-likes {
    display: flex;
    align-items: center;
  }
  
  .post-likes svg {
    margin-right: 5px;
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust the height according to your needs */
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  